/FTG.API/bin/
/FTG.API/obj/
/FTG.Core/bin/
/FTG.Core/obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/FTG.API/uploads/
/FTG.API/output/
/FTG.API/complete/

/FTG.Debug.Email/appsettings.json
/FTG.Debug.Email/bin/
/FTG.Debug.Email/obj/

/CF.ContainerWorker/.wrangler/
/CF.ContainerWorker/node_modules/

/CF.EmailWorker/.wrangler/
/CF.EmailWorker/node_modules/
/CF.EmailWorker/.idea/
/CF.EmailWorker/.dev.vars